body{
  margin-left: 50px;
  background-color: #4a4949;
}
.contenido{
	margin:auto;
	width: 90%;	
}
.btn{
	width:2.5%;
  background-color: white;
  border: solid black 1px;
  border-radius: 100%;
}
header>h1,header>h2{
	text-align: center;
}
.imgVerficar{
	width: 1.2%;
	visibility: hidden;
}
.caja{
	padding:5%;
	margin:5%;
	border: solid black 2px ;
}
.intentos{
	float: right;
}